.bttn button {
  margin-left: 50px;
  padding: 12px;
  color: whitesmoke;
  background: rgb(79, 79, 250);
  border: none;
  font-weight:600;
  border-radius: 20px;
  box-shadow: 2px 2px whitesmoke;
}

.header h1 {
  color: rgb(79, 79, 209);
  font-weight: 800;
}

.header p {
  color: whitesmoke;
  font-weight: 500;
  margin-left: 100px;
}

body {
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-image: url(image/6ee19142a58f28b93766a9f44663a540.jpg);
}

#mytable {
  width: 100%;
  color: blue;
  font-weight: 700;
  border: 2px solid blue;
}

tr {
  /* width: auto; */
  /* border: 2px solid blue; */
}

td,
th {
  /* border: 2px solid blue; */
  padding: 10px;
  text-align: center;
  background: whitesmoke;
}
